

/*=============================================
=            Backgound stylings            	  =
=============================================*/
body {
	background: transparent;
}

.bgImage{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: white url("https://source.unsplash.com/daily") no-repeat center center;
	background-repeat: repeat-y;
	background-position: center center;
	/*filter: grayscale(1);*/
	transition: 0.6s opacity, 0.6s background;
	background-size: cover;
}
.bgImage::before {
    content: '';
    position: absolute;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
}
.bgImage::after {
    content: '';
    position: absolute;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: 3;
    transition: 0.4s background;
}
.bgImage.bgAct {
	background-repeat: repeat-y;
    opacity: 0.9;
}

/*=====  End of Backgound stylings     ======*/



/*=============================================
=            Some page fixins            =
=============================================*/

#Footer{
	margin-bottom: 10px;
}
#Header {	
	margin-top: 0px;
}

/*=====  End of Some page fixins  ======*/



#SettingsContainer {
	margin-top: -46px;
}


a.navbar-item:hover{
	font-weight: 600;
}

.tdicon{
	padding-bottom: 3px;
	padding-top: 2px;
}




@media only screen and (max-width: 650px) {
	#select {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}




/*=============================================
=             Settings->profil.php            =
=============================================*/

#Croppie , #UploadCroppedImage {
	display: none;
}


/*=====  End of Settings->profil.php  ======*/





@media only screen and (max-width: 650px) {
	#profilePhoto{
		display: block;
  		margin-left: auto;
  	margin-right: auto;
	}
	#userDetails{
		text-align: center;
	}
	#profileBox {
		background-color: rgb(248,248,255,0.3) !important;
	}
	
}

@media only screen and (max-width: 800px) {
	.modal-wrap{
		width: 100%;
		height: 100%;
		margin-left: -18px;
	}
}

@media only screen and (min-width: 768px) {
	.modal-wrap {
		margin-top: 9%;
	}
}

@media only screen and (max-width: 650px) {
	#signinModalClose{
		display: none;
	}
	#signupModalClose{
		display: none;
	}
	#forgotPasswordModalClose{
		display: none;
	}
}





/*=============================================
=            Profile.php stylings            =
=============================================*/


#ProfileLinkScroll {
	overflow-y:scroll; height:200px;
}
.about{
	margin-top: -1.3rem;
}

/*=====  End of Profile.php stylings   ======*/







/*----------  Css Helpers  ----------*/
.is-box-transparent {
	background-color: rgb(248,248,255,0.3) !important;
}
.center , .center-column , .top , .right, .bottom , .left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.center-column {
	flex-direction: column;
}
.top{align-items: flex-start;}
.right{justify-content: flex-end;}
.bottom{align-items: flex-end;}
.left{justify-content: flex-start;}
@media (max-width:1024px){
	.desktop{
		display: none;
	}
}
.mb10{
	margin-bottom: 10px;
}
.single-spaced , .single-spaced * {line-height: 1;}
.is-first-upper {text-transform: capitalize;}
/*----------  Css Helpers  ----------*/